# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Web
*.html text
*.css text
*.js text
*.ts text
*.tsx text
*.json text
